*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('background.jpg');
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 300px;
    cursor: pointer;
    animation: move 1s linear;
}

@keyframes move {
    from {
        transform: translate(-150%);
    }
    to {
        transform: translate(0px);
    }

}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;;
}

.content{
    width: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20%;
    transform: translateY(-50%);
    transform: translateX(50%);
    text-align: center;
    color: black;
    background-color: #f2f2f5;
    padding: 20px;
    border-radius: 30px;
    border: 5px solid gray;
}

.skills{
    
    width: 50%;
    position: absolute;
    text-align: center;
    top: 40%;
    color: black;
    background-color: #f2f2f5;
    padding: 20px;
    transform: translateX(50%);
    border-radius: 50px;
    border: 5px solid gray;
}


.java{
    list-style-image: url('icons/java.png');
  }

.python{
    list-style-image: url('icons/python.png');
  }

.c{
    list-style-image: url('icons/c.png');
  }

.html{
    list-style-image: url('icons/html.png');
  }

.css{
    list-style-image: url('icons/css3.png');
  }

.li{
    align-items: left;
}

.footer{
    color: white;
    opacity: 1;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
}

#experience{
    padding:50px 15px;
    text-align:center;
    border-bottom:1px solid #dcd9d9;
    width: 50%;
    border-radius: 50px;
    transform: translateX(50%);
    border: 5px solid gray;
}

#experience h2{
    color:#374054
}

.heading{
    position:relative;
    display:inline-block;
    font-size:2em;
    font-weight:300;
    margin:0 0 30px 0;
}

.background-alt{
    background:#f2f2f5;
}

table{
    background-color: white;
    border-color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

caption{
    background-color: white;
    border-color: black;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.social{
    text-align:right;
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
}

.social ul{
    margin:5px 0 0 0;
    padding:0;
}

.social li{
    display:inline-block;
    font-size:1.25em;
    list-style:none;
}

.social a{
    display:block;
    color:#74808a;
    padding:10px;
}

